* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 40px;
    margin: 0;
    padding: 0;
}

.nm {
    display: flex;
    justify-content: space-between;
}

.nm-text {
    color: #000;
    text-decoration: none;
}

.organizer {
    border-bottom: #eeebeb solid 1px;
    padding-bottom: 20px;
}

.payee {
    padding-top: 20px;
}

.card {
    margin: 240px 201px 240px 201px;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 40px;
    display: flex;
}


/* .row{
    zoom: 104%;
} */

.bg-img {
    float: right;
    width: 1204px;
    height: 100vh;
}

.ftr {
    display: flex;
    column-gap: 40px;
}

.form-select {
    width: fit-content;
}

.right-img {
    background-image: url(./images/bg-image.jpg);
    background-size: cover;
    background-position: center;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}